<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Machine Learning Model</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ML</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="http://127.0.0.1:5000/">Home</a>
            <a class="nav-link active" href="http://127.0.0.1:5000/predict">Predict <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="http://127.0.0.1:5000/data">Data Visualization</a>
            
          </div>
        </div>
      </nav>

      <h1>Predict!</h1>

      <form method="POST", action="http://127.0.0.1:5000/hasil">
          Credit Score       : <input type="number" name="cs">
          <br>
          Geography          : 
          <br>
            <input type="radio" id="spain" name="geography" value="spain">
            <label for="spain">Spain</label><br>
            <input type="radio" id="france" name="geography" value="france">
            <label for="france">France</label><br>
            <input type="radio" id="germany" name="geography" value="germany">
            <label for="germany">Germany</label>

          <br>
          Gender             : 
          <br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>

          <br>
          Age                : <input type="number" name="age">
          <br>
          Tenure              : <input type="number" name="tenure">
          <br>
          Balance            : <input type="number" name="balance">
          <br>
          Number of Product  : 
          <br>
            <input type="radio" id="1" name="prod" value="1">
            <label for="1">1</label><br>
            <input type="radio" id="2" name="prod" value="2">
            <label for="2">2</label><br>
            <input type="radio" id="3" name="prod" value="3">
            <label for="3">3</label><br>
            <input type="radio" id="4" name="prod" value="4">
            <label for="4">4</label><br>

          <br>
          Has Credit Card   : 
          <br>
            <input type="radio" id="yes" name="cc" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="cc" value="no">
            <label for="no">No</label><br>

          <br>
          Active Member    : 
          <br>
            <input type="radio" id="yes" name="am" value="yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="am" value="no">
            <label for="no">No</label><br>

          <br>
          Estimated Salary  : <input type="number" name="salary">
          <br>
          <input type="submit" value="Predict"/>
      </form>
































    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>